<div class="container p-5">
<input class="form-control w-25 mt-5" type="text" placeholder="nama" [(ngModel)]="searchValue">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nama</th>
        <th scope="col">Jurusan</th>
        <th scope="col">Nilai</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let std of student|filter : searchValue ; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{std.nama | uppercase}}</td>
        <td>{{std.jurusan}}</td>
        <td>{{std.nilai | currency: "IDR "}}</td>
      </tr>
    </tbody>
  </table>       
</div>
       <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                      <router-outlet></router-outlet>
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

