<div class="container p-4">
<form [formGroup] = "formCari" (submit) = "getCariKategori()">
    <div class="form-floating mb-3">
        <input class="form-control" placeholder = "nama kategori" formControlName = "name">
        <label for="">Nama Kategori</label>
    </div>
     <select class="form-select" formControlName = "deptId">
        <option selected>Open this select menu</option>
        <option *ngFor="let p of listDept" [value]="p.deptId"> {{p.nama}}</option>
     </select>    
    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
     <button class="btn btn-primary" type="submit">Cari</button>
    </div>
    <button class="btn btn-secondary mt-5" type="submit"><a class="text-white text-decoration-none" routerLink="/apps/inputdept">Tambah Departemen</a></button>
</form>
    <table class="table table-striped ">
    <thead>
        <tr>
            <th>ID</th>
            <th>NAMA</th>
            <th>DEPT ID</th>
            <th>KET</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let lk of listKategori | paginate:{
        itemsPerPage: hal.size,
        currentPage : hal.pagenumber,
        totalItems : hal.total}">
            <td>{{lk.katId}}</td>
            <td>{{lk.name}}</td>
            <td>{{lk.deptId}}</td>
            <td>{{lk.ket}}</td>
        </tr>
    </tbody>

    <div class="col-md-8">
        <form [formGroup]="formPage">
            <select formControlName = "size" (change)="sizeChangeEvent()">
                <option *ngFor="let i of jumlahPerPage" [value]="i">{{i}}</option>
            </select>
        </form>
    </div>
    </table>
    <pagination-controls class="pagination pagination-sm float-sm-end" (pageChange)="pageChangeEvent($event)">    
    </pagination-controls>
</div>